body {
  background-color: #eef5ee;
  margin: 0 0;
  font-family: Arial, sans-serif; }

nav {
  width: 100%;
  background-color: #244769;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  color: #eef5ee; }
  nav .menu_trigger {
    text-align: center;
    display: none; }
  nav ul {
    padding: 0 0;
    margin: 0 0; }
    nav ul li {
      display: inline-block; }
  nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #eef5ee; }
  nav a:hover {
    background-color: #b5d1f1;
    color: #244769; }
  nav #lastA_libs {
    background-color: #244769;
    color: #eef5ee;
    cursor: default; }
  nav #brand_course {
    padding-right: 40px; }

@media screen and (min-width: 992px) {
  .navbar_content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (min-width: 1200px) {
  .navbar_content {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 768px) {
  nav {
    padding: 0 0; }
    nav .menu_trigger {
      display: block;
      border-bottom: 1px solid #eef5ee; }
    nav ul {
      display: none; }
      nav ul li {
        display: block;
        text-align: center; }
        nav ul li a {
          border-bottom: 1px solid #eef5ee; }
    nav #brand_course {
      display: none; }
    nav #lastA_libs {
      background-color: #b5d1f1;
      color: #244769; } }

.bg-light {
  background-color: #244769 !important; }

.basic_content {
  padding: 20px 0; }

.content {
  padding: 0 0;
  padding-right: 10px; }
  .content .content_indent_left .date {
    background-color: #b5d1f1;
    width: 100%;
    text-align: right;
    margin-bottom: 20px; }
  .content .content_indent_left .block_content {
    width: 100%; }
    .content .content_indent_left .block_content .content_item {
      background-color: #fff;
      margin-bottom: 20px; }
      .content .content_indent_left .block_content .content_item h1 {
        padding: 15px 15px;
        color: #081822; }
      .content .content_indent_left .block_content .content_item p {
        padding: 10px 10px; }
      .content .content_indent_left .block_content .content_item img {
        width: 100%;
        padding: 0 0;
        margin: 0 0; }
    .content .content_indent_left .block_content .content_item:hover {
      border: 1px solid #b5d1f1;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      .content .content_indent_left .block_content .content_item:hover h1 {
        padding: 15px 15px;
        margin: 0 0; }

.function {
  padding: 0 0;
  padding-left: 10px; }
  .function .content_indent_right {
    background-color: #b5d1f1; }
