@charset "UTF-8";
body {
  background-color: rgba(238, 245, 238, 0.5);
  margin: 0 0;
  font-family: Arial, sans-serif; }

nav {
  width: 100%;
  background-color: #244769;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  color: #eef5ee;
  position: fixed;
  z-index: 100;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.7px;
  height: 60px; }
  nav .menu_trigger {
    text-align: center;
    display: none; }
  nav ul {
    padding: 0 0;
    margin: 0 0; }
    nav ul li {
      display: inline-block; }
  nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #eef5ee; }
  nav a:hover {
    background-color: #b5d1f1;
    color: #244769;
    text-decoration: none; }
  nav a:visited {
    color: #eef5ee;
    text-decoration: none; }
  nav a:active {
    text-decoration: none; }
  nav #lastA_libs {
    background-color: #244769;
    color: #eef5ee;
    cursor: default;
    padding: 20px; }
  nav #brand_course {
    padding-right: 40px;
    cursor: default; }

@media screen and (min-width: 992px) {
  .navbar_content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (min-width: 1200px) {
  .navbar_content {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 768px) {
  nav {
    padding: 0 0; }
    nav .menu_trigger {
      display: block;
      border-bottom: 1px solid #eef5ee;
      text-decoration: none; }
    nav ul {
      display: none;
      background-color: #244769; }
      nav ul li {
        display: block;
        text-align: center; }
        nav ul li a {
          border-bottom: 1px solid #eef5ee; }
    nav #brand_course {
      display: none; }
    nav #lastA_libs {
      background-color: #b5d1f1;
      color: #244769; } }

.bg-light {
  background-color: #244769 !important; }

.basic_content {
  padding: 0px 0px 10px 0px; }

.content {
  padding: 0 0;
  padding-right: 10px;
  margin-top: 80px; }
  .content .content_indent_left .date {
    background-color: #b5d1f1;
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
    padding: 10px 20px; }
    .content .content_indent_left .date a {
      font-size: 16px;
      text-decoration: none;
      color: #244769; }
      .content .content_indent_left .date a i {
        padding-left: 10px; }
    .content .content_indent_left .date a:hover {
      text-decoration: none;
      color: #eef5ee; }
  .content .content_indent_left .block_content {
    width: 100%; }
    .content .content_indent_left .block_content .content_item {
      background-color: #fff;
      margin-bottom: 20px; }
      .content .content_indent_left .block_content .content_item h1 {
        padding: 40px 15px 0px 15px;
        font-size: 26px;
        margin: 0 0;
        color: rgba(8, 24, 34, 0.5); }
      .content .content_indent_left .block_content .content_item p {
        padding: 20px 20px;
        font-size: 16px;
        margin: 0 0;
        color: rgba(8, 24, 34, 0.7); }
      .content .content_indent_left .block_content .content_item .content_image {
        padding: 0 0;
        margin: 0 0; }
        .content .content_indent_left .block_content .content_item .content_image img {
          width: 100%;
          padding: 0 0;
          margin: 0 0; }
    .content .content_indent_left .block_content .content_item:hover {
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }
      .content .content_indent_left .block_content .content_item:hover h1 {
        padding: 40px 15px 0px 15px;
        color: rgba(8, 24, 34, 0.8); }
      .content .content_indent_left .block_content .content_item:hover p {
        padding: 20px 20px;
        color: #081822; }

.affix {
  top: 0; }

@media (max-width: 1200px) {
  .affix {
    position: static; } }

.function {
  padding: 0 0;
  padding-left: 10px; }
  .function .content_indent_right {
    margin-top: 80px;
    position: static; }
    .function .content_indent_right .search_function {
      background-color: #b5d1f1;
      padding-bottom: 30px; }
      .function .content_indent_right .search_function p {
        margin: 0 0;
        font-size: 18px;
        color: #244769;
        padding: 10px 15px 10px 15px; }
      .function .content_indent_right .search_function .choiсe_search {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #c1cc9c;
        font-size: 14px;
        color: #081822;
        margin-bottom: 20px;
        -webkit-border-radius: 0;
                border-radius: 0; }
        .function .content_indent_right .search_function .choiсe_search option {
          font-size: 14px; }
      .function .content_indent_right .search_function .mystytle_group {
        width: 90%;
        margin-left: auto;
        margin-right: auto; }
        .function .content_indent_right .search_function .mystytle_group input {
          -webkit-border-radius: 0;
                  border-radius: 0; }
        .function .content_indent_right .search_function .mystytle_group .myclass_button {
          padding: 0 0;
          margin: 0 0;
          border: 0;
          background-color: rgba(238, 245, 238, 0.01); }
          .function .content_indent_right .search_function .mystytle_group .myclass_button .submit_search {
            padding: 9px 8px;
            width: 100%;
            height: 100%;
            margin: 0 0;
            font-size: 14px;
            -webkit-border-radius: 0 25px 25px 0;
                    border-radius: 0 25px 25px 0;
            background-color: #fff;
            border: 1px solid #c1cc9c;
            border-left: 0;
            color: #081822; }
          .function .content_indent_right .search_function .mystytle_group .myclass_button .submit_search:hover {
            background-color: #244769;
            color: #eef5ee;
            border: 1px solid #b5d1f1; }
    .function .content_indent_right .search_function:hover p {
      color: #eef5ee;
      cursor: default; }
    .function .content_indent_right .add_item {
      margin-top: 30px; }
      .function .content_indent_right .add_item .button_add_item {
        width: 100%;
        padding: 10px 30px;
        background-color: #c1cc9c;
        border: 1px solid #c1cc9c;
        font-weight: 600;
        letter-spacing: 0.7px; }
      .function .content_indent_right .add_item .button_add_item:hover {
        background-color: #244769;
        color: #eef5ee;
        border: 1px solid #b5d1f1; }

.popup_date {
  color: #081822;
  background-color: #244769;
  position: absolute;
  right: 30px;
  top: 50px;
  display: none; }
  .popup_date .button_group {
    padding: 15px 30px;
    color: #eef5ee; }
    .popup_date .button_group button {
      background-color: rgba(0, 0, 0, 0.01);
      border: 0;
      border-bottom: 2px solid #244769; }
    .popup_date .button_group button:hover {
      border-bottom: 2px solid #b5d1f1; }
  .popup_date .form_group {
    background-color: #eef5ee;
    border-right: 1px solid #244769;
    border-left: 1px solid #244769;
    border-bottom: 1px solid #244769;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .popup_date .form_group .time_value {
      margin-top: 20px;
      margin-bottom: 20px; }
      .popup_date .form_group .time_value .time_indent_s {
        padding-right: 5px; }
      .popup_date .form_group .time_value .time_indent_p {
        padding-right: 5px;
        padding-left: 15px; }
    .popup_date .form_group .style_button {
      margin-bottom: 20px;
      padding: 4px 40px;
      background-color: #c1cc9c;
      border: 1px solid #244769;
      letter-spacing: 1px; }
    .popup_date .form_group .style_button:hover {
      background-color: #244769;
      color: #eef5ee; }

.popup_date::before {
  content: '';
  position: absolute;
  right: 20px;
  top: -40px;
  border: 20px solid transparent;
  border-bottom: 20px solid #244769; }

hr {
  border: none;
  width: 100%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid rgba(36, 71, 105, 0.6);
  -webkit-box-shadow: 0 20px 20px -20px #244769;
          box-shadow: 0 20px 20px -20px #244769;
  margin: 0; }

footer {
  height: 120px; }
