body {
  background-color: #eef5ee;
  margin: 0 0;
  font-family: Arial, sans-serif; }

nav {
  width: 100%;
  background-color: #244769;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  color: #b5d1f1; }
  nav .menu_trigger {
    text-align: center;
    display: none; }
  nav ul {
    padding: 0 0;
    margin: 0 0; }
    nav ul li {
      display: inline-block; }
  nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #b5d1f1; }
  nav a:hover {
    background-color: #b5d1f1;
    color: #244769; }
  nav #lastA_libs {
    background-color: #244769;
    color: #b5d1f1;
    cursor: default; }
  nav #brand_course {
    padding-right: 40px; }

@media screen and (min-width: 992px) {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

@media screen and (min-width: 1200px) {
  .navbar_content {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 768px) {
  nav {
    padding: 0 0; }
    nav .menu_trigger {
      display: block;
      border-bottom: 1px solid #eef5ee; }
    nav ul {
      display: none; }
      nav ul li {
        display: block;
        text-align: center; }
        nav ul li a {
          border-bottom: 1px solid #eef5ee; }
    nav #brand_course {
      display: none; }
    nav #lastA_libs {
      background-color: #b5d1f1;
      color: #244769; } }

.bg-light {
  background-color: #244769 !important; }

.basic_content {
  padding: 20px 0; }

.content {
  background-color: #c1cc9c; }

.function {
  background-color: #244769; }
