@import "color"

body
  background-color: $basic_color
  margin: 0 0
  font-family: Arial, sans-serif

nav
  width: 100%
  background-color: $first
  padding: 0 15px
  margin-left: auto
  margin-right: auto
  text-transform: uppercase
  color: $basic_color
  .menu_trigger
    text-align: center
    display: none
  ul
    padding: 0 0
    margin: 0 0
    li
      display: inline-block
  a
    display: block
    text-decoration: none
    padding: 20px
    color: $basic_color
  a:hover
    background-color: $details_1
    color: $first
  #lastA_libs
    background-color: $first
    color: $basic_color
    cursor: default
  #brand_course
    padding-right: 40px

@media screen and (min-width: 992px)
  .navbar_content
    max-width: 960px
    margin-left: auto
    margin-right: auto

@media screen and (min-width: 1200px)
  .navbar_content
    max-width: 1140px
    margin-left: auto
    margin-right: auto

@media screen and (max-width: 768px)
  nav
    padding: 0 0
    .menu_trigger
      display: block
      border-bottom: 1px solid $basic_color
    ul
      display: none
      li
        display: block
        text-align: center
        a
          border-bottom: 1px solid $basic_color
    #brand_course
      display: none
    #lastA_libs
      background-color: $details_1
      color: $first

.bg-light
  background-color: $first !important

.basic_content
  padding: 20px 0

.content
  padding: 0 0
  padding-right: 10px
  .content_indent_left
    .date
      background-color: $details_1
      width: 100%
      text-align: right
      margin-bottom: 20px
    .block_content
      width: 100%
      .content_item
        background-color: #fff
        margin-bottom: 20px
        h1
          padding: 15px 15px
          color: $text
        p
          padding: 10px 10px
        img
          width: 100%
          padding: 0 0
          margin: 0 0
      .content_item:hover
        border: 1px solid $details_1
        box-shadow: 0 0 10px rgba(0,0,0,0.5)
        h1
          padding: 15px 15px
          margin: 0 0

.function
  padding: 0 0
  padding-left: 10px
  .content_indent_right
    background-color: $details_1



