@import "color"

body
  background-color: $body_color
  margin: 0 0
  font-family: Arial, sans-serif

nav
  width: 100%
  background-color: $first
  padding: 0 15px
  margin-left: auto
  margin-right: auto
  text-transform: uppercase
  color: $basic_color
  position: fixed
  z-index: 100
  font-size: 13px
  font-weight: 600
  letter-spacing: 0.7px
  height: 60px
  .menu_trigger
    text-align: center
    display: none
  ul
    padding: 0 0
    margin: 0 0
    li
      display: inline-block
    .nav_kind
      .nav_kind_view
        display: none
        position: absolute
  a
    display: block
    text-decoration: none
    padding: 20px
    color: $basic_color
  a:hover
    background-color: $details_1
    color: $first
    text-decoration: none
  a:visited
    color: $basic_color
    text-decoration: none
  a:active
    text-decoration: none
  #lastA_libs
    background-color: $first
    color: $basic_color
    cursor: default
    padding: 20px
  #brand_course
    padding-right: 40px
    cursor: default
    i
      padding-right: 10px
      font-size: 20px

.nav_kind:hover
  .nav_kind_view
    display: block
    background-color: $first
    li
      display: block
      padding: 0px 0px
      a
        padding: 20px 20px
        border-bottom: 1px solid $first
        border-right: 1px solid $first
        border-left:  1px solid $first
      a:hover
        padding: 20px 20px
        background-color: $details_1
        border-bottom: 1px solid $first

@media screen and (min-width: 992px)
  .navbar_content
    max-width: 960px
    margin-left: auto
    margin-right: auto

@media screen and (min-width: 1200px)
  .navbar_content
    max-width: 1140px
    margin-left: auto
    margin-right: auto

@media screen and (max-width: 992px)
  .function
    padding-left: 0px !important
  .content_item
    margin-left: 10px !important

@media screen and (max-width: 830px)
  nav
    padding: 0 0
    .navbar_content
      background-color: $first
      .menu_trigger
        display: block
        border-bottom: 1px solid $basic_color
        text-decoration: none
      i
        padding-right: 10px
        font-size: 20px
      ul
        display: none
        background-color: $first
        li
          display: block
          text-align: center
          a
            border-bottom: 1px solid $basic_color
            text-decoration: none
      #brand_course
        display: none
      #lastA_libs
        background-color: $details_1
        color: $first
    .nav_kind
      .nav_kind_view
        display: none
        li
          display: block
          text-align: left
          border-bottom: 1px solid $basic_color
          border-right: 1px solid $basic_color
          padding: 0 0
          a
            padding: 14px 20px !important

.bg-light
  background-color: $first !important

.basic_content
  padding: 0px 0px 10px 0px

.content
  padding: 0 0
  padding-right: 10px
  margin-top: 80px
  .content_indent_left
    .date
      background-color: $details_1
      width: 100%
      text-align: right
      margin-bottom: 20px
      padding: 10px 20px
      a
        font-size: 16px
        text-decoration: none
        color: $first
        i
          padding-left: 10px
      a:hover
        text-decoration: none
        color: $basic_color
    .block_content
      width: 100%
      .content_item
        background-color: #fff
        margin-bottom: 20px
        transition: all 0.7s
        h1
          padding: 20px 15px 0px 15px
          font-size: 26px
          margin: 0 0
          color: rgba(8, 24, 34, 0.5)
        p
          padding: 10px 20px 20px 20px
          font-size: 16px
          margin: 0 0
          color: rgba(8, 24, 34, 0.7)
          text-indent: 1.5em
        .item_info
          padding: 5px 0px 5px 0px
          color: $second
          span
            color: rgba(8, 24, 34, 0.5)
            padding-left: 10px
        .item_info:last-of-type
          padding-bottom: 0px
        .item_info:first-of-type
          padding-top: 20px
        .item_info_assessment
          display: none
          text-align: right
          padding: 0 20px 10px 0px
          color: $second
          span
            color: rgba(8, 24, 34, 0.5)
        .content_image
          padding: 0 0
          margin: 0 0
          img
            width: 100%
            padding: 0 0
            margin: 0 0
        .footer_item
          width: 100%
          .left_f
            float: left
            width: 70%
            text-align: left
            padding: 3px 0px 3px 5px
            color: $second
            cursor: default
            i
              padding-right: 10px
          .right_f
            width: 100%
            text-align: right
            padding: 3px 5px 3px 0px
            color: rgba(8, 24, 34, 0.5)
      .content_item:last-of-type
        padding-bottom: 0px
      .content_item:hover
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5)
        h1
          padding: 20px 15px 0px 15px
          color: rgba(8, 24, 34, 0.8)
        p
          padding: 10px 20px 20px 20px
          color: rgba(8, 24, 34, 1)
        .item_info
          padding: 5px 0px 5px 0px
          color: $second
          span
            color: rgba(8, 24, 34, 0.8)
            padding-left: 10px
        .item_info:last-of-type
          padding-bottom: 0px
        .item_info:first-of-type
          padding-top: 20px
        .item_info_assessment
          padding: 0 20px 10px 0px
          color: $second
          span
            color: rgba(8, 24, 34, 0.8)

.affix
  top: 0
@media (max-width: 991px)
  .affix
    position: static

@media screen and (max-width: 400px)
  .popup_date
    width: 270px
    .button_group
      padding: 10px 2px !important
      color: $basic_color
      button
        background-color: rgba(0,0,0, 0.01)
        border: 0
        border-bottom: 2px solid $first
        padding: 4px 8px
    span
      display: block
      padding-left: 10px !important
      text-align: left
    input
      width: 140px

.function
  padding: 0 0
  padding-left: 10px
  .content_indent_right
    margin-top: 80px
    position: static
    .search_function
      background-color: $details_1
      padding-bottom: 30px
      p
        margin: 0 0
        font-size: 18px
        color: $first
        padding: 10px 15px 10px 15px
      .choiсe_search
        width: 90%
        margin-left: auto
        margin-right: auto
        //padding: 6px 12px
        border: 1px solid $second
        font-size: 14px
        color: $text
        margin-bottom: 20px
        border-radius: 0
        option
          font-size: 14px
      .mystytle_group
        width: 90%
        margin-left: auto
        margin-right: auto
        input
          border-radius: 0
        .myclass_button
          padding: 0 0
          margin: 0 0
          //border-radius: 0 25px 25px 0
          border: 0
          background-color: rgba($basic_color, 0.01)
          .submit_search
            padding: 9px 8px
            width: 100%
            height: 100%
            margin: 0 0
            font-size: 14px
            border-radius: 0 25px 25px 0
            background-color: #fff
            border: 1px solid $second
            border-left: 0
            color: $text
          .submit_search:hover
            background-color: $first
            color: $basic_color
            border: 1px solid $details_1
    .search_function:hover
      p
        color: $basic_color
        cursor: default
    .add_item
      margin-top: 30px
      .button_add_item
        width: 100%
        padding: 10px 30px
        background-color: $second
        border: 1px solid $second
        font-weight: 600
        letter-spacing: 0.7px
      .button_add_item:hover
        background-color: $first
        color: $basic_color
        border: 1px solid $details_1

.popup_date
  color: $text
  background-color: $first
  position: absolute
  right: 30px
  top: 50px
  display: none
  .button_group
    padding: 15px 30px
    color: $basic_color
    button
      background-color: rgba(0,0,0, 0.01)
      border: 0
      border-bottom: 2px solid $first
    button:hover
      border-bottom: 2px solid $details_1
  .form_group
    background-color: $basic_color
    //border-right: 1px solid $first
    //border-left: 1px solid $first
    //border-bottom: 1px solid $first
    display: flex
    flex-direction: column
    align-items: center
    .time_value
      margin-top: 20px
      margin-bottom: 20px
      .time_indent_s
        padding-right: 5px
      .time_indent_p
        padding-right: 5px
        padding-left: 15px
    .style_button
      margin-bottom: 20px
      padding: 4px 40px
      background-color: $second
      border: 1px solid $first
      letter-spacing: 1px
    .style_button:hover
      background-color: $first
      color: $basic_color
.popup_date::before
  content: ''
  position: absolute /* Абсолютное позиционирование */
  right: 20px
  top: -32px /* Положение треугольника */
  border: 16px solid transparent
  border-bottom: 16px solid $first


hr
  border: none
  width: 100%
  height: 30px
  margin-top: 0
  box-shadow: 0 10px 10px -10px  $first
  margin: 0

footer
  height: 120px
  display: flex
  flex-direction: row
  align-items: center
  .left_footer_content
    font-size: 18px
    color: $first
    padding: 10px 0px
    margin-top: 15px
  .right_footer_content
    text-align: right
    font-size: 16px
    i
      font-size: 20px
      color: $second
    i:hover
      color: $first